/* i got style */
/* old link color "teal" */
body {
    background: black;
    color: grey;
    margin-left: 5%;
    margin-right: 5%; 
    font-family: "Courier New", monospace
}

fieldset
{

	width: 900px;
	text-align: left;
	border-radius: 5px;
	border: 1px;
	padding: 10px;
	border-color: #d40000;
	border-style: solid;
}

a.plain {
    text-decoration: none
}
a:link {
    color: orange
}
a:visited {
    color: orange
}
a:active {
    color: white
}